version: "3.3"


services:
  pulsarbroker:
    hostname: pulsarbroker
    image: apachepulsar/pulsar:2.7.0
    ports:
      - "6650:6650"
      - "8080:8080"
    command: bin/pulsar standalone
  # dashboard:
  #   image: apachepulsar/pulsar-dashboard:2.7.0
  #   depends_on:
  #     - pulsarbroker
  #   ports:
  #     - "80:80"
  #   environment:
  #     - SERVICE_URL=http://pulsarbroker:8080
  consumer:
    build: 
      context: ./Consumers
    depends_on:
      - pulsarbroker
    links:  
      - pulsarbroker:pulsarbroker
    volumes:
      - ./Consumers:/app
    #entrypoint: /app/entrypoint.sh
    restart: always
    command: /bin/bash -c "python app/consumer.py" 
    #command: /bin/bash -c "sleep 500000"
  producer:
    build: 
      context: ./Producers
    depends_on:
      - pulsarbroker
    links:  
      - pulsarbroker:pulsarbroker
    restart: always
    volumes:
      - ./Producers:/app
    #command: /bin/bash -c "sleep 500000"
    #command: /bin/sh -c "sleep 70 && python /app/producer.py rai-prashanna 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"
    #entrypoint: /app/entrypoint.sh
    command: /bin/bash -c "python app/producer.py"  

