version: "3.3"
services:
  producer:
    build:
      context: . 
    environment:
      - GET_HOSTS_FROM=dns
    command: /bin/bash -c "sleep 80 && python /app/request-producer.py <github-user> <token> <start-date> <start-end>"